/* !Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box 
}

/* ? Utility */

/* Carattere e colore Sfondo*/
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #F6F5F3;
}

/* Tutto a 20px */
* {
    font-size: 20px;
}

/* Colore Icone */
.color-icon {
    color: #FF9614;
}

/* Sfondo Arangio */
.color-back {
    background-color: #FF9614;
}

/* Liste senza Punti */
li {
    list-style: none;
}

/* Link senza Linea tranne */
a:not(.recipe-navfooter a) {
    text-decoration: none;
}

/* Link e Span */
a, span {
    display: inline-block;
}

/* Linea */
.dash {
    height: 3px;
    width: 18%;
    border-radius: 2px;
    margin: 15px 0px;
}

/* Immagini */
img {
    max-width: 100%;
    display: block;
}

/* Contenitore flex */
.flex {
    display: flex;
}

/* Dimensioni Contenitore Elementi */
.container {
    width: 90%;
    margin: 0 auto;
}

/* TODO: Inizio */

/* Navbar */
#navbar {
    text-align: center;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

/* Stile Logo */
#logo {
    font-size: 50px;
    font-family: 'Nerko One', cursive;
    font-weight: 700;
    padding: 5px 0;
}

/* Catogoria */
.recipe-category {
    font-size: 20px;
    text-transform: uppercase;
    color: #B0B0AF;
}

/* Contenitore Title */
.recipe-title {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

/* Tipo di Prodotto */
.product-title {
    font-size: 30px;
    color: #4E3969;
}

/* Titolo Trasparente */
.title-transparent {
    display: none;
    font-size: 30px;
}

/* Bottone Rate */
.installments {
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 30px;
    color: #FFFFFF;
    margin-left: 5px;
}

/* Recipiente Video */
.recipe-video {
    width: 100%;
    height: 300px;
}

/* Video */
iframe {
    height: 100%;
    width: 100%;
}

/* Contenitore Bianco */
.back-white {
    background-color: #FFFFFF;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

/* Contenitore Info */
.recipe-info {
    background-color: #F6F5F9;
    padding: 15px;
}

/* Contenitore Calorie */
.recipe-calories {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #B0B0AF;
}

/* Calorie */
.calories {
    background-color: #7B69A2;
    color: #FFFFFF;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Link Info */
.info {
    font-weight: 700;
    font-size: 24px;
}

/* Testo Vegetariano */
.text-vegetarian {
    margin-top: 15px;
    text-transform: uppercase;
}

/* Icona Carota */
.icon-carrot {
    margin-right: 5px;
}

/* Recipiente Liste */
.recipe-preparation {
    margin-top: 20px;
}

/* Lista dentro */
.recipe-preparation li {
    margin-bottom: 15px;
}

/* Padding 20px */
.pd-20 {
    padding: 20px;
}

/* Contenitore Social */
.social-networks {
    padding: 0px 30px;
    margin-top: 30px;
}

/* Lista Social */
.social-networks ul {
    justify-content: space-around;
    align-items: center;
}

/* Testo nei Social */
.text-icon {
    display: none;
}

/* Bottoni Social */
.social {
    background-color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 20px;
}

/* Colore Social */
.color-blu {
    color: #1A77F3;
}

.color-sky-blu {
    color: #009EFF;
}

.color-purple {
    color: #E177A9;
}

.color-red {
    color: #E83B34;
}

/* Banner */
.banner-advertising {
    display: none;
    margin-top: 40px;
}

/* Sezione Presentazione prodotto */
.section-presentation {
    margin-top: 40px;
}

/* Clear */
.clear::after {
    clear: both;
    content: ' ';
    display: table;
    margin-bottom: 50px;
}

/* Titolo della Sezione Presentazione */
.title-presentation {
    text-transform: uppercase;
    font-size: 35px;
}

/* Immagine Tiramisù */
.recipe-image {
    width: 70%;
    margin: 15px auto;
}

/* Spazio tra le Linee del Paragrafo */
.recipe-paragraph {
    line-height: 1.5;
}

/* Footer */
footer {
    background-color: #7C69A4;
    justify-content: center;
    padding: 30px 0px;
}

/* Recipiente del Footer */
.recipe-footer {
    width: 90%;
    text-align: center;
    color: #EEECF3;
}

/* Recipiente della NavbarFooter */
.recipe-navfooter {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

/* Link dentro */
.recipe-navfooter a {
    color: #EEECF3;
}


/* TODO: Media Query 768 */

@media screen and (min-width:768px) {
    /* Navbar */
    #navbar {
        text-align: start;
        padding-left: 20px;
        margin-bottom: 50px;
    }

    /* Titolo Trasparente */
    .title-transparent {
        display: inline-block;
    }

    /* Video */
    .recipe-video{
        height: 400px;
    }

    /* Recipiente Liste */
    .recipe-preparation {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    /* Liste dentro */
    .recipe-preparation li {
        margin-right: 20px;
        line-height: 2;
    }

    /* Bottoni Social */
    .social {
        padding: 10px 50px;
        border-radius: 20px;
    }

    /* Contenitore Social */
    .social-networks {
        padding: 0;
    }

    /* Banner */
    .banner-advertising {
        display: flex;
        justify-content: center;
    }

    /* Immagine Tiramisù */
    .recipe-image {
        float: left;
        margin: 0;
        width: 50%;
        margin-right: 10px;
    }
}



/* TODO: Media Query 992 */

@media screen and (min-width:992px) {
    /* Tutti gli Elementi 16px */
    * {
        font-size: 16px;
    }

    /*Contenitore Bianco */
    .back-white {
        display: flex;
        padding-bottom: 0px;
    }

    /* Video */
    .recipe-video {
        width: 65%;
    }

    /* Contenitore 35% */
    .w-35 {
        width: 35%;
    }

    /* Testo nei Social */
    .text-icon {
        display: inline-block;
        text-transform: uppercase;
        margin-left: 4px;
    }

    /* Bottoni Social */
    .social {
        background-color: #FFFFFF;
        padding: 10px 30px;
        border-radius: 20px;
    }

    /* Lista dentro */
    .recipe-preparation li {
        width: 100%;
        margin-right: 0px;
        line-height: 1;
    }

    /* Immagine Tiramisù */
    .recipe-image {
        width: 35%;
    }

    /* Elementi dentro al footer */
    .footer-between * {
        font-size: 14px;
    }

    /* Recipiente del Footer */
    .recipe-footer {
        display: flex;
        justify-content: space-between;
    }

    /* Recipiente info Booleando */
    .recipe-booleando {
        text-align: start;
    }
}