/* !Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box 
}

/* ? Utility */

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #F6F5F3;
}

* {
    font-size: 20px;
}

.color-icon {
    color: #FF9614;
}

.color-back {
    background-color: #FF9614;
}

li {
    list-style: none;
}

a:not(.recipe-navfooter a) {
    text-decoration: none;
}

a, span {
    display: inline-block;
}

.dash {
    height: 4px;
    width: 20%;
}

p {
    margin-bottom: 30px;
}

img {
    max-width: 100%;
    display: block;
}

.flex {
    display: flex;
}

.container {
    width: 500px;
    margin: 0 auto;
}

/* TODO: Inizio */

/* Navbar */
#navbar {
    text-align: center;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

/* Stile Logo */
#logo {
    font-size: 50px;
    font-family: 'Nerko One', cursive;
    font-weight: 700;
    padding: 5px 0;
}

/* Catogoria */
.recipe-category {
    font-size: 20px;
    text-transform: uppercase;
    color: #B0B0AF;
}

/* Contenitore Title */
.recipe-title {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

/* Tipo di Prodotto */
.product-title {
    font-size: 30px;
    color: #4E3969;
}

/* Bottone Rate */
.installments {
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 30px;
    color: #FFFFFF;
    margin-left: 5px;
}

/* Video */
.recipe-video {
    width: 100%;
    height: 300px;
}

/* Contenitore */
.back-white {
    background-color: #FFFFFF;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

/* Contenitore Info */
.recipe-info {
    background-color: #F6F5F9;
    padding: 15px;
}

/* Contenitore Calorie */
.recipe-calories {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #B0B0AF;
}

/* Calorie */
.calories {
    background-color: #4E3969;
    color: #FFFFFF;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Link Info */
.info {
    font-weight: 700;
    font-size: 24px;
}

/* Testo Vegetariano */
.text-vegetarian {
    margin-top: 15px;
    text-transform: uppercase;
}

/* Icona Carota */
.icon-carrot {
    margin-right: 5px;
}

/* Recipiente Liste */
.recipe-preparation {
    margin-top: 20px;
}

/* Lista dentro */
.recipe-preparation li {
    margin-bottom: 15px;
}

/* Padding 20px */
.pd-20 {
    padding: 20px;
}

/* Contenitore Social */
.social-networks {
    padding: 0px 30px;
}

/* Lista Social */
.social-networks ul {
    justify-content: space-around;
    align-items: center;
}

/* Bottone Social */
.social {
    background-color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 20px;
}

/* Colore Social */
.color-blu {
    color: #1A77F3;
}

.color-sky-blu {
    color: #009EFF;
}

.color-purple {
    color: #E177A9;
}

.color-red {
    color: #E83B34;
}