/* !Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box 
}

/* ? Utility */

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #F6F5F3;
}

.color-icon {
    color: #FF9614;
}

.color-back {
    background-color: #FF9614;
}

li {
    list-style: none;
}

a:not(.recipe-navfooter a) {
    text-decoration: none;
}

a {
    display: inline-block;
}

.dash {
    height: 4px;
    width: 20%;
}

p {
    margin-bottom: 30px;
}

img {
    max-width: 100%;
    display: block;
}

.flex {
    display: flex;
}


/* TODO: Inizio */

#navbar {
    text-align: center;
    background-color: #FFFFFF;
}

#logo {
    font-size: 50px;
    font-family: 'Nerko One', cursive;
    font-weight: 700;
    padding: 5px 0;
}

